[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "Cinder"]
	path = external/Cinder
	url = https://github.com/cinder/Cinder.git
